.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.restaurant-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 5px; /* Reduced margin to decrease space between cards */
    width: calc(20% - 10px); /* Adjusted width calculation to fit reduced margin */
    text-align: center;
    transition: transform 0.2s;
}

.restaurant-card:hover {
    transform: translateY(-5px);
}

.restaurant-image {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}

h1 {
    font-size: 20px;
    color: #333;
    margin: 8px 0;
}

h2 {
    font-size: 16px;
    color: #666;
    margin: 4px 0;
}

h3 {
    font-size: 14px;
    color: #ffdd57;
    margin: 4px 0;
}

a {
    color: red;
}
